* {
    margin = 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* ------------------ section 1 ---------------------*/
.contenair1 {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 0 9%; */
}

/* ----------------- header ----------------------- */

header {
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.entete {
    color: white;
    width: 20%;
    font-size: 50px;
    font-weight: 1000;
    margin-left: 20px;
    padding: auto;
    text-align: center;
}

nav {
    width: 60%;
    margin: auto;
    padding: auto;
    text-align: center;

}

.icones {
    width: 20%;
    margin: auto;
    padding: auto;
    text-align: center;



}

i {
    margin: 10px;
}

i:hover {
    opacity: 0.8;
    cursor: pointer;
}
a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    
}

a:hover {
    opacity: 0.8;
    
}

/* ---------------------- Article ----------------------*/

article {
    width: 100%;
    height: 100%;

    /* display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    grid-auto-rows: 45% 20% 10%; */
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    padding: 0 9%;

    
   

}

h1 {
    /* grid-column: 1/1;
    grid-row: 1/1; */
    font-size: 4em;
    /* border: 5px solid black; */
    margin: 0;
    width: 40%;
    padding: auto;
}

p {
    /* grid-column: 1/1;
    grid-row: 2/2; */
    /* border: 5px solid black; */
    margin: 0;
    font-size: 1.5em;
    width: 30%;
   margin : 15px;
}

form {
    /* grid-column: 1/1;
    grid-row: 3/3; */
    /* border: 5px solid black; */
    width: 30%;
    position:relative;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: none;
}

::placeholder {
    padding: 10px;
    color : black;
    font-size: 20px;
    opacity: 0.5;
}

input[type="email"]:focus{
    font-size: 20px;
    border: none;
    padding: 10px;
}



button {
    background-color: #1294b8;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 9px;
    right: 20px;
    border: none;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

object {
    /* grid-column: 2/2;
    grid-row: 1/4; */
    width: 60%;
    /* height: 100%; */
    /* border: 5px solid black; */
}



/* ------------------ section 2 --------------------*/

.contenair2 {
    width: 100%;
    height: 100vh;
}

.card {
    background-color: rgb(139, 195, 245);
}