* {
    margin = 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* ------------------ section 1 ---------------------*/
.contenair1 {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2%; 
}

/* ----------------- header ----------------------- */

.headerContenair1 {
    
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.entete {
    color: white;
    width: 20%;
    font-size: 50px;
    font-weight: 1000;
    margin-left: 20px;
    padding: auto;
    text-align: center;
}

nav {
    width: 60%;
    margin: auto;
    padding: auto;
    text-align: center;

}

.icones {
    width: 20%;
    margin: auto;
    padding: auto;
    text-align: center;



}

i {
    margin: 10px;
}

i:hover {
    opacity: 0.8;
    cursor: pointer;
}
a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    
}

a:hover {
    opacity: 0.8;
    
}

/* ---------------------- Article ----------------------*/

article {
    width: 100%;
    height: 100%;

    /* display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    grid-auto-rows: 45% 20% 10%; */
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    padding: 0 9%;

    
   

}

.titreContenair1 {
    /* grid-column: 1/1;
    grid-row: 1/1; */
    font-size: 4em;
    /* border: 5px solid black; */
    margin: 0;
    width: 40%;
    padding: auto;
}

.pContenair1 {
    /* grid-column: 1/1;
    grid-row: 2/2; */
    /* border: 5px solid black; */
    margin: 0;
    font-size: 1.5em;
    width: 30%;
   margin : 15px;
}

form {
    /* grid-column: 1/1;
    grid-row: 3/3; */
    /* border: 5px solid black; */
    width: 30%;
    position:relative;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: none;
}

::placeholder {
    padding: 10px;
    color : black;
    font-size: 20px;
    opacity: 0.5;
}

input[type="email"]:focus{
    font-size: 20px;
    border: none;
    padding: 10px;
}



button {
    background-color: #1294b8;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 9px;
    right: 20px;
    border: none;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

object {
    /* grid-column: 2/2;
    grid-row: 1/4; */
    width: 60%;
    /* height: 100%; */
    /* border: 5px solid black; */
}



/* ------------------ section 2 --------------------*/

.contenair2 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* ------------------- header 2 ----------------------- */

.headerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    font-weight: 1000; 
}

.pHeaderContenair2{
    font-size: 25px;
    width: 40%;
    text-align: center;
    color: grey
}

/* -------------------- main 2 ------------------------ */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 20px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 450px;
    border-radius: 10px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    padding: 10px;

    transition: 0.5s;

}

.card:hover {
    transform: translateY(-15px);
}

.fa-solid {
    font-size: 50px;
}

.cardContenair2{
    color: white;
}

.pContenair2 {
    color: white;
    text-align: center;
}

.footerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------Contenair 3 ---------------- */

.contenair3 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* -------------------- header 3 -------------------- */

.headerContenair3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30%;
}

.h2HeaderContenair3 {
    font-size: 2em;
    font-weight: 1000; 
    text-align: center;

}

.pHeaderContenair3{
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: grey
}

/* -------------------- Main 3 ----------------------- */

.articleContenair3 {
    display: flex;
    justify-content: space-between;
    gap : none;
    width: 100%;
    margin-top: 7%;
}

.article3 {
    width: 20%;
    height: 50%;
    padding: 0;
    gap: 0;
}

.hArticleHeader3 {
    text-align: center;
    margin: 0;
    
}

.pArticleHeader3 {
    text-align: center;
    margin: 0;
    color: grey;
    margin-bottom: 20%;
  
}

figure{
    margin: 0;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

} 

img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: transform .3s; 
}

figure:hover img {
    filter: grayscale(0);
    transform: scale(1.25);
}

.h3Contenair3 {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.pFigcaptionContenair3 {
    text-align: center;
    color: grey;
    margin: 0;
}

.iconeContenair3{

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 400px;
    left: 0px;
    transition: 2s;
    opacity: 0;
    
}

figure:hover .iconeContenair3{
    opacity: 1;
    bottom: 100px;
    left: 20px;

}