* {
    margin = 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* ------------------ section 1 ---------------------*/
.contenair1 {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2%; 
}

/* ----------------- header ----------------------- */

.headerContenair1 {
    
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.entete {
    color: white;
    width: 20%;
    font-size: 50px;
    font-weight: 1000;
    margin-left: 20px;
    padding: auto;
    text-align: center;
}

nav {
    width: 60%;
    margin: auto;
    padding: auto;
    text-align: center;

}

.icones {
    width: 20%;
    margin: auto;
    padding: auto;
    text-align: center;



}

i {
    margin: 10px;
}

i:hover {
    opacity: 0.8;
    cursor: pointer;
}
a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    
}

a:hover {
    opacity: 0.8;
    
}

/* ---------------------- Article ----------------------*/

article {
    width: 100%;
    height: 100%;

    /* display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    grid-auto-rows: 45% 20% 10%; */
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    padding: 0 9%;

    
   

}

.titreContenair1 {
    /* grid-column: 1/1;
    grid-row: 1/1; */
    font-size: 4em;
    /* border: 5px solid black; */
    margin: 0;
    width: 40%;
    padding: auto;
}

.pContenair1 {
    /* grid-column: 1/1;
    grid-row: 2/2; */
    /* border: 5px solid black; */
    margin: 0;
    font-size: 1.5em;
    width: 30%;
   margin : 15px;
}

.formContenair1 {
    /* grid-column: 1/1;
    grid-row: 3/3; */
    /* border: 5px solid black; */
    width: 30%;
    position:relative;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: none;
}

::placeholder {
    padding: 10px;
    color : black;
    font-size: 20px;
    opacity: 0.5;
}

input[type="email"]:focus{
    font-size: 20px;
    border: none;
    padding: 10px;
}



.buttonContenair1 {
    background-color: #1294b8;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 9px;
    right: 20px;
    border: none;
}

.buttonContenair1:hover{
    opacity: 0.8;
    cursor: pointer;
}

object {
    /* grid-column: 2/2;
    grid-row: 1/4; */
    width: 60%;
    /* height: 100%; */
    /* border: 5px solid black; */
}



/* ------------------ section 2 --------------------*/

.contenair2 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* ------------------- header 2 ----------------------- */

.headerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    font-weight: 1000; 
}

.pHeaderContenair2{
    font-size: 25px;
    width: 40%;
    text-align: center;
    color: grey
}

/* -------------------- main 2 ------------------------ */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 20px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 450px;
    border-radius: 10px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    padding: 10px;

    transition: 0.5s;

}

.card:hover {
    transform: translateY(-15px);
}

.fa-solid {
    font-size: 50px;
}

.cardContenair2{
    color: white;
}

.pContenair2 {
    color: white;
    text-align: center;
}

.footerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------Contenair 3 ---------------- */

.contenair3 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* -------------------- header 3 -------------------- */

.headerContenair3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30%;
}

.h2HeaderContenair3 {
    font-size: 2em;
    font-weight: 1000; 
    text-align: center;

}

.pHeaderContenair3{
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: grey
}

/* -------------------- Main 3 ----------------------- */

.articleContenair3 {
    display: flex;
    justify-content: space-between;
    gap : none;
    width: 100%;
    margin-top: 7%;
}

.article3 {
    width: 20%;
    height: 50%;
    padding: 0;
    gap: 0;
}

.hArticleHeader3 {
    text-align: center;
    margin: 0;
    
}

.pArticleHeader3 {
    text-align: center;
    margin: 0;
    color: grey;
    margin-bottom: 20%;
  
}

.figureContenair3 {
    margin: 0;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

} 

.imgContenair3 {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: transform .3s; 
}

.figureContenair3:hover .imgContenair3 {
    filter: grayscale(0);
    transform: scale(1.25);
    cursor: pointer;
}

.h3Contenair3 {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.pFigcaptionContenair3 {
    text-align: center;
    color: grey;
    margin: 0;
}

.iconeContenair3{

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 400px;
    left: 0px;
    transition: 2s;
    opacity: 0;
    
}

.figureContenair3:hover .iconeContenair3{
    opacity: 1;
    bottom: 100px;
    left: 20px;

}

/* ----------------------- Contenair 4------------------ */

.contenair4 {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/parallax.png");  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

}


.articleContenair4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: none;
    width: 100%; 
    padding: 0 9%;
}

.hContenair4 {
    font-size: 2em;
    font-weight: 1000;
    color: white;
    margin: 0;
}

.pContenair4 {
    font-size: 25px;
    text-align: center;
    color: #D7D1CF;
    margin-bottom: 50px;
}

.formContenair4 {
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    font-size: 25px;
    background-color: transparent;
    transition: 0.5s;
}

.buttonContenair4 {
    width: 200px;
    height: 50px;
    color: white;
    border: solid white ;
    border-radius: 5px;
    font-size: 25px;
    background-color: transparent;
    transition: 0.5s;
}

.buttonContenair4:hover {
    color:black;
    background-color: white;
    height: 50px;
    transform: translateY(-5px);
    cursor: pointer;

}

/* ------------------------Blog ----------------------- */
.blogContenair{
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* ----------------------- HeaderBlog------------------- */
.headerBlog {
    text-align: center;
    padding: 10% 20% 5% 20%;
}

#h2HeaderBlog {
    margin: 0;
    font-size: 2em;
}

#pHeaderBlog {
    color: grey;
    font-size: 25px;
}

/* ---------------------Main blog ---------------------- */
#mainBlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 70px;
    width: 100%;
    margin: 0;
}

.articleBlog {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 25%;

}

.figureBlog {
    margin: 0;
    position: relative;
}

.imgBlog {
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

.photographe {
    display: flex;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    top: 25px;
    left: 10px;
    margin: 0;
    color: white;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.iPhotographe {
    width: 90%;
    margin: 0;
}

i {
    margin: 0;
    margin: 5px 5px;
}

.pPhotographe {
    margin: 0;
}

.figureBlog:hover .imgBlog {
    filter: brightness(60%);
    cursor: pointer;
}

.figureBlog:hover .photographe {
    opacity: 1;
}

.h3ArticleBlog {
    margin: 0;
    font-size: 25px;
}

.pArticleBlog {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: grey;
    
}

.aArticleBlog {
    color:#1294b8;
    padding: 0;
}

/* ------------------------------------- Contenair 5 ------------------------------ */

.contenair5{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 9%;
}

#h2Contenair5 {
    width: 50%;
}

.pContenair5 {
    width: 50%;
    color: grey;
    font-size: 20px;
}

#articleContenair5 {
    padding: 0;
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.pArticleContenair5 {
    color: grey;
    font-size: 20px;
}

strong {
    color: black;
}

.buttonContenair5 {
    width: 200px;
    height: 50px;
    background-color: hsl(223, 82%, 59%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.buttonContenair5:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.imgContenair5 {
    width: 50%;
    height: 450px;
}

/* ---------------------- PRICING----------------------------- */

.pricing {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
    background-color: #EAE7E6;
}

/* ---------------------Header Pricing ------------------------- */

#headerPricing {
    text-align: center;
    padding: 10% 20% 5% 20%;
}

#h2HeaderPricing {
    font-size: 2em;
    margin: 0;
}

#pHeaderPricing {
    font-size: 25px;
    color: grey;
}

/* ------------------ main Pricing --------------------------- */

.mainPricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: relative;
}

.articlePricing, .article2Pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border: solid white 1px;
    border-radius: 5px;
    background-color: white;
    gap: 0;
    padding: 0;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px ;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.article2Pricing {
    position: relative;
    top: -20px;

}

.h4Pricing{
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    height: 30px;
    margin: 0;
    margin-top: 10px;
}

.pPricing {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: grey;
}

.spanPricing{
    color:hsl(223, 82%, 59%);
    font-size: 25px;
    justify-content: flex-start;
}

.strongArticle {
    color:hsl(223, 82%, 59%);
    font-size: 60px;
}

#iPricing {
    width: 10%;
    margin: 0;
    text-align: center;
    padding-left: 10px;
}

.pArticlePricing {
    width: 50%;
    /* padding-left: 10px; */
    font-size: 20px;
    font-weight: 500;
}

.p2ArticlePricing {
    width: 40%;
    text-align: right;
    /* padding-right: 10px; */
    font-size: 20px;
    font-weight: normal;
}

.formArticlePricing {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonArticlePricing {
    width: 100%;
    height: 50px;
    background-color:hsl(223, 82%, 59%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

