* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    position: relative;
}

/* ------------------- Seccion fleche ancre */

#fleche {
    position: fixed;    /* Fixe la div sur l'image */
    right: 20px;        /* Position de la div sur l'ecran */
    top:800px;
    background-color: black;
    color: white;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 1;         /* Apparait au dessus des autres éléments */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ section 1 ---------------------*/
#contenair1 {
    background: radial-gradient(rgb(139, 195, 245), #1294b8); /* Fait un dégradé de couleur sur le fond */
    width: 100%;
    height: 100vh;  /* prend la taille d'un ecran */
    /* display: flex;
    flex-direction: column; */
    padding: 0 2%; 
}

/* ----------------- header seccion 1  ----------------------- */

.headerContenair1 {   
    width: 100%;
    display: flex;
    padding-top: 5%;
}

.entete {
    color: white;
    width: 20%;
    font-size: 50px;
    font-weight: 1000;
    margin-left: 20px;
    padding: auto;
    text-align: center;
}

nav {
    width: 60%;
    margin: auto;
    padding: auto;
    text-align: center;
}

.icones {
    width: 20%;
    margin: auto;
    padding: auto;
    text-align: center;
}

i {
    margin: 10px;
}

i:hover {
    opacity: 0.8;  /* Au survol des icones leur opacité baissera de 20% */
    cursor: pointer;  /* Au survol des icones, la souris prendra une forme de poingteur */
}

a {
    color: white;
    padding: 10px;
    text-decoration: none; /* Supprime la barre dessous les liens */
    font-size: 20px;
}

a:hover {
    opacity: 0.8;  /* au survol des liens, leur opacités baissera de 20% */  
}

/* ---------------------- Article Seccion 1----------------------*/

article {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;      /* Fait un "espace" de 10px entre chaque bloc du display */
    padding: 0 9%;
}

.titreContenair1 {
   font-size: 4em;
    margin: 0;
    width: 30%;
    padding: auto;
}

.pContenair1 {
    margin: 0;
    font-size: 1.5em;
    width: 30%;
    margin : 15px;
}

.formContenair1 {
    width: 30%;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: none; /* Supprime la bordure de input */
}

::placeholder {     /* Selectionne l'attribut placeholder */
    padding: 10px;
    color : black;
    font-size: 20px;
    opacity: 0.5;
}

input[type="email"]:focus{ /* Selectionne l'input ayant pour attribut type="email" lorsque celui ci est selectionné au clavier */
    font-size: 20px;
    border: 0;
    padding: 10px;
}

.buttonContenair1 {
    background-color: #1294b8;
    height: 40px;
    width: 140px;
    border-radius: 30px;
    color: white;
    position: absolute; /* Positionne le button hors du flux */
    top: 5px;
    right: 5px;
    border: none;
}

.buttonContenair1:hover{
    opacity: 0.8;
    cursor: pointer;
}

object {
    width: 50%;
}



/* ------------------ section 2 --------------------*/

#contenair2 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* ------------------- header Seccion 2 ----------------------- */

.headerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

h2 {
    font-size: 2em;
    font-weight: 1000; 
}

.pHeaderContenair2{
    font-size: 25px;
    width: 40%;
    text-align: center;
    color: grey
}

/* -------------------- main Seccion 2 ------------------------ */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 20px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 450px;
    border-radius: 10px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   /* fait un effet d'ombre sur .card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    font-size: 20px;
    padding: 10px;
    transition: 0.5s; /* dit la duree pour les effets de changement */
}

.card:hover {
    transform: translateY(-15px); /* fait un mouvement sur l'axe des y de -15px (monte vers le haut) */
}

.fa-solid {
    font-size: 50px;
}

.fa-solid:hover {
    cursor: auto; /* le curseur de la souris reste normale */
    opacity: 1;   /* l'opacité reste la même */
}

.cardContenair2{
    color: white;
}

.pContenair2 {
    color: white;
    text-align: center;
}

.footerContenair2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

/* ------------------------Seccion 3 ---------------- */

#contenair3 {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* -------------------- header seccion 3 -------------------- */

.headerContenair3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25%;
    padding-top: 5%;
}

.h2HeaderContenair3 {
    font-size: 2em;
    font-weight: 1000; 
    text-align: center;
}

.pHeaderContenair3{
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: grey;
    padding-top: 20px;
}

/* -------------------- Main seccion 3 ----------------------- */

.articleContenair3 {
    display: flex;
    justify-content: space-between;
    gap : none;
    width: 100%;
    margin-top: 7%;
}

.article3 {
    width: 20%;
    height: 50%;
    padding: 0;
    gap: 0;
}

.hArticleHeader3 {
    text-align: center;
    margin: 0;   
}

.pArticleHeader3 {
    text-align: center;
    margin: 0;
    color: grey;
    margin-bottom: 20%; 
}

.figureContenair3 {
    margin: 0;
    border-radius: 100%;
    overflow: hidden; /* cache tous ce sort de la figure*/
    position: relative; /* Position par défaut dans le flux de la balise */
} 

.imgContenair3 {
    width: 100%;
    height: 100%;
    filter: grayscale(1); /* assombrit l'image */
    transition: transform .3s; 
}

.figureContenair3:hover .imgContenair3 {
    filter: grayscale(0); /* n'assombrit plus l'image */
    transform: scale(1.25); /* fait un effet de zoom */
    cursor: pointer; /* le curseur de la souris prendra la forme d'un pointeur */
}

.h3Contenair3 {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.pFigcaptionContenair3 {
    text-align: center;
    color: grey;
    margin: 0;
}

.iconeContenair3{
    display: flex;
    flex-direction: column;
    position: absolute; 
    bottom: 400px;
    left: -200px;
    transition: 2s;
    opacity: 1;    
}

.figureContenair3:hover .iconeContenair3{
    opacity: 1;
    bottom: 100px;  /* Modifie la position des icones au survol de la souris */
    left: 10px;
}


/* ----------------------- Seccion 4 ------------------ */

#contenair4 {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/parallax.png"); /* assombrit l'arriere plan, ajoute une image en arrière plan */  
    background-attachment: fixed; /* La position de l'image est fixe lors du srcoll */
    background-size: cover; /* l'image prend l'espace disponible */
    background-position: center; /* l'image est centré */
    background-repeat: no-repeat; /* l'image ne se repette pas */
}


.articleContenair4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: none;
    width: 100%; 
    padding: 0 9%;
}

.hContenair4 {
    font-size: 2em;
    font-weight: 1000;
    color: white;
    margin: 0;
}

.pContenair4 {
    font-size: 25px;
    text-align: center;
    color: #D7D1CF;
    margin-bottom: 50px;
}

.formContenair4 {
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    font-size: 25px;
    background-color: transparent; /* l'arriere plan sera transparent (prendra l'arriere plan de la balise mère) */
    transition: 0.5s;
}

.buttonContenair4 {
    width: 200px;
    height: 50px;
    color: white;
    border: solid white ;
    border-radius: 5px;
    font-size: 25px;
    background-color: transparent;
    transition: 0.5s;
}

.buttonContenair4:hover {
    color:black;
    background-color: white;
    height: 50px;
    transform: translateY(-5px); /* Mouvement sur l'axe des Y de 5px (mouvement vers le haut) */
    cursor: pointer;
}

/* ------------------------Blog ----------------------- */
#blogContenair{
    width: 100%;
    height: 100vh;
    padding: 0 9%;
}

/* ----------------------- HeaderBlog------------------- */
.headerBlog {
    text-align: center;
    padding: 10% 20% 5% 20%;
}

#h2HeaderBlog {
    margin: 0;
    font-size: 2em;
}

#pHeaderBlog {
    color: grey;
    font-size: 25px;
}

/* ---------------------Main blog ---------------------- */
#mainBlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 70px;
    width: 100%;
    margin: 0;
}

.articleBlog {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 25%;
}

.figureBlog {
    margin: 0;
    position: relative;
}

.imgBlog {
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

.photographe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute; /* Sors du flux */
    top: 25px; /* Position dans le flux par rapport a sa balise mère */
    left: 10px;
    margin: 0;
    color: white;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.iPhotographe {
    width: 90%;
    margin: 0;
}

.fa-regular {
    margin: 0;
    margin: 5px 5px;
}

.fa-regular:hover{
    cursor: auto;
    opacity: 1;
}

.pPhotographe {
    margin: 0;
}

.figureBlog:hover .imgBlog {
    filter: brightness(60%); /* Assombrit l'image */
    cursor: pointer;
}

.figureBlog:hover .photographe {
    opacity: 1;
}

.h3ArticleBlog {
    margin: 0;
    font-size: 25px;
}

.pArticleBlog {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: grey;   
}

.aArticleBlog {
    color:#1294b8;
    padding: 0;
}

.aArticleBlog {
    cursor: pointer;
}

/* ------------------------------------- Seccion 5 ------------------------------ */

#contenair5{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 9%;
}

#h2Contenair5 {
    width: 40%;
}

.pContenair5 {
    width: 40%;
    color: grey;
    font-size: 20px;
}

#articleContenair5 {
    padding: 0;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.pArticleContenair5 {
    color: grey;
    font-size: 20px;
}

strong {
    color: black;
}

.formContenair5 {
    width: 40%;
}

.buttonContenair5 {
    width: 200px;
    height: 50px;
    background-color: hsl(223, 82%, 59%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.buttonContenair5:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.imgContenair5 {
    width: 30%;
}

/* ---------------------- PRICING ----------------------------- */

#pricing {
    width: 100%;
    height: 100vh;
    padding: 0 9%;
    background-color: #EAE7E6;
}

/* ---------------------Header Pricing ------------------------- */

#headerPricing {
    text-align: center;
    padding: 10% 20% 5% 20%;
}

#h2HeaderPricing {
    font-size: 2em;
    margin: 0;
}

#pHeaderPricing {
    font-size: 25px;
    color: grey;
}

/* ------------------ main Pricing --------------------------- */

.mainPricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: relative;
}

.articlePricing, .article2Pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    border-radius: 15px;
    background-color: white;
    gap: 0;
    padding: 0;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px ;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    transition: 0.5s;
}

.articlePricing:hover, .article2Pricing:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.article2Pricing {
    position: relative;
    top: -20px; /* positionne l'article 2 20px vers le haut */
}

.divArticlePricing {
    position: absolute; /* sort du flux la div */
    top:0;
    right: 0;
    background-color:hsl(223, 82%, 59%);
    height: 50px;
    width: 50px;
    border-radius: 0 15px 0 15px;
    color: white;
    text-align: center;
    border: solid hsl(223, 82%, 59%) 1;
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
    filter: brightness(90%); /* assombrit la div */
    display: flex;
    align-items: center;
}

.h4Pricing{
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: 25px;
    height: 30px;
    margin: 0;
    margin-top: 20px;
}

.pPricing {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: grey;
}

.spanPricing{
    color:hsl(223, 82%, 59%);
    font-size: 25px;
    justify-content: flex-start;
}

.strongArticle {
    color:hsl(223, 82%, 59%);
    font-size: 60px;
}

#iPricing {
    width: 10%;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    margin: 20px 0 0 0 ;
}

.pArticlePricing {
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 0 0;
    padding-left: 5px;
}

.p2ArticlePricing {
    width: 40%;
    text-align: right;
    font-size: 20px;
    font-weight: normal;
    margin:20px 0 0 0;
}

.formArticlePricing {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttonArticlePricing {
    width: 100%;
    height: 50px;
    background-color:hsl(223, 82%, 59%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
}

.buttonArticlePricing:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* ---------------------- Footer ------------------------ */

#footer {
    width: 100%;
    height: 50vh;
    background-color: black;
}

#divFooter {
    color: grey;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#iconeFooter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 20%;
    margin: 25px;
}

#pFooter{
    margin: 15px;
}

/* ------------------------------ Mobile --------------------------------------------- */
@media (max-width: 720px) {
    * {
        flex-direction: column;
        flex-wrap: wrap;
    }
}