/* ------------------Seccion burger menu ---------------------
*/
#menu-burger {
    display: none;
}

#headerBurger {
    position: fixed;
    top : 0;
    left: 0;
    display: none;
 }

#headerClose {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 4;
    display: none;
}

 #headerBurger svg{
   stroke: black;
   width: 40px;
   height: 40px;
   cursor: pointer;
 }

#headerClose svg{
    stroke: black;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 4;
}

#overlayNavMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}






/* ------------------------------ Mobile --------------------------------------------- */
@media (max-width: 1350px) {

    /* ------------------------ Burger Mobile ------------------------------- */
    #nav-section1 {
        display: none;
    }

    .icones {
        display: none;
    }

    #headerBurger {
        display: block; 
        position: fixed;
        top : 0;
        left: 0;
        z-index: 4;
    }

    #menu-burger {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.3s transform ease-in-out;
        z-index: 3;
    }

    #menu-burger.open { 
        transform: initial; 
    } 

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        margin: 5% 0;
    }

    #icones-burger {
    display: flex;
    flex-direction: column;
    }

    #headerClose {
        display: block;
        transform: translateX(300%);
    }

    #headerClose.open{
        transform: initial ;
    }

    #overlayNavMobile.open {
        display: block;
    }


    /* ------------------- Seccion fleche ancre */

    #fleche {      
    top:800px;
    right: 20px;
    }

    /* ------------------ section 1 ---------------------*/

    #contenair1 {
        min-height: 50vh;
        height: none;

    }
    
    /* ----------------- header seccion 1  ----------------------- */
    
    .entete {
        min-width: 100%;
        margin-bottom: 10%;
    }


    /* ---------------------- Article Seccion 1----------------------*/

    #main-section1 {
        padding: 0 5%;
        margin: 5% 0 0 0 ;
        justify-content: flex-start;
    }

    .titreContenair1 {
        font-size: 2em;
        text-align: start;
        width: 100%;
    }

    .pContenair1 {
        font-size: 1em;
        text-align: justify;
        width: 100%;
    }

    .formContenair1 {
        margin-bottom: 5%;
        width: 100%;
    }

    ::placeholder {   
    font-size: 15px;
    }

    input[type="email"]:focus{ 
    font-size: 10px;
    }

    .buttonContenair1 {
        width: 100px;
    }

    object {
    width: 100%;
    }

    /* ------------------ section 2 --------------------*/

/* -------------------- main Seccion 2 ------------------------ */

#main-section2 {
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
}

 .card {
    min-width: 50%;
}

.footerContenair2 {
    padding-top: 15%;
}

/* ------------------------Seccion 3 ---------------- */

#contenair3 {
    min-height: 50vh;
}

/* -------------------- header seccion 3 -------------------- */

.headerContenair3{
    padding-bottom: 5%;
}


/* -------------------- Main seccion 3 ----------------------- */

#main-section3 {
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.articleContenair3 {
    gap : 5px;
    margin-top: 20%;
}

.article3 {
    width: 50%;
}

.figure-section3:hover .iconeContenair3{
    left: 5%;
}

/* ------------------------Blog ----------------------- */

/* ----------------------- HeaderBlog------------------- */
.headerBlog {
    padding: 20% 20% 5% 20%;
}

/* ---------------------Main blog ---------------------- */

#mainBlog {
    margin-top: 20%;
    flex-direction: column;
    align-items: center;
}
.articleBlog{
    width: 100%;
}

.iPhotographe {
    width: 80%;
}

.photographe {
    flex-direction: column;
    align-items: flex-start;
}

/* ------------------------------------- Seccion 5 ------------------------------ */


#main-section5 {
    align-items: center;
    flex-wrap: nowrap;
    height: 150vh;
}

#h2Contenair5 {
    width: 100%;
}

.pContenair5 {
    width: 100%;
}

#articleContenair5 {
    width: 100%;
}


.formContenair5 {
    width: 50%;
}

#figure-section5 {
    width: 100%;
}

/* ---------------------- PRICING ----------------------------- */

/* ------------------ main Pricing --------------------------- */
.mainPricing {
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.articlePricing {
    width: 100%;
}

.article2Pricing {
    top:0;
}

.buttonArticlePricing {
    width: 50%;
} 

}