/* ------------------Seccion burger menu ---------------------
*/

.headerBurger {
    display: none;
    position: fixed;
    top : 0;
    left: 0;
 }

 .headerBurger svg{
   stroke: blue;
   width: 40px;
   height: 40px;
   cursor: pointer;
 }

.headerClose {
    stroke: blue;
    width: 22px;
    height: 22px;
    display: none;
    cursor: pointer;
}

.overlayNavMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}





/* ------------------------------ Mobile --------------------------------------------- */
@media (max-width: 720px) {

    /* ------------------------ Burger Mobile ------------------------------- */
    .headerBurger {
        display: block; 
        z-index: 3;
     }

    .headerNav {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.3s transform ease-in-out;
        z-index: 3;
    }

    .headerNav.open { 
        transform: initial; 
    } 

    ul {
        display: flex;
        flex-direction: column;
    }

    .headerClose {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .overlayNavMobile.open {
        display: block;
    }


    /* ------------------- Seccion fleche ancre */

    #fleche {      
    top:700px;
    }

    /* ------------------ section 1 ---------------------*/

    #contenair1 {
        padding: 0; 
    }
    
    /* ----------------- header seccion 1  ----------------------- */
    
    .entete {
        width: 100%;
        padding: 0;
    }
       
    .icones {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    /* ---------------------- Article Seccion 1----------------------*/

    article {
        padding: 0 5%;
    }

    .titreContenair1 {
        font-size: 2em;
        text-align: start;
    }

    .pContenair1 {
        font-size: 1em;
        text-align: justify;
    }

    .formContenair1 {
        margin-bottom: 5%;
    }

    ::placeholder {   
    font-size: 12px;
    }

    input[type="email"]:focus{ 
    font-size: 10px;
    }

    .buttonContenair1 {
        width: 100px;
    }

    object {
    width: 60%;
    }

    /* ------------------ section 2 --------------------*/

#contenair2 {
    padding: 0 5%;
}

/* ------------------- header Seccion 2 ----------------------- */


h2 {
    font-size: 1em;
}

.pHeaderContenair2{
    font-size: 15px; 
}

/* -------------------- main Seccion 2 ------------------------ */

main {
    margin-top: 15%;
}

.card {
    height: 300px; 
}

.fa-solid {
    font-size: 40px;
}


.pContenair2 {
    font-size: 15px;
}

.footerContenair2 {
    padding-top: 15%;
}

/* ------------------------Seccion 3 ---------------- */

#contenair3 {
    padding: 0 5%;
}

/* -------------------- header seccion 3 -------------------- */


.h2HeaderContenair3 {
    font-size: 1em;
}

.pHeaderContenair3{
    font-size: 15px;
}

/* -------------------- Main seccion 3 ----------------------- */

.articleContenair3 {
    gap : 5px;
    margin-top: 20%;
}

.article3 {
    width: 25%;
}

.hArticleHeader3 {
    font-size: 20px; 
}

.pArticleHeader3 {
    font-size: 15px;
}

.h3Contenair3 {
    font-size: 20px;
}

.pFigcaptionContenair3 {
    font-size: 15px;
}

.iconeContenair3{
    bottom: 300px;
}

.fa-brands {
    margin: 0;
}

.figureContenair3:hover .iconeContenair3{
    bottom: 50px;  
    left: 5px;
}

/* ----------------------- Seccion 4 ------------------ */


.articleContenair4 {
    height: 100%;
}

.hContenair4 {
    font-size: 1em;
}

.pContenair4 {
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

}