@media (max-width: 720px) {

    /* ------------------------ Burger Mobile ------------------------------- */
    #menu-burger {
        width: 200px;
    }

    /* ------------------- Seccion fleche ancre */

    #fleche {      
        top:750px;
        right: 60px;
        }
    
        /* ------------------ section 2 --------------------*/

#contenair2 {
    padding: 0 5%;
    min-height: 100vh;
}

/* ------------------- header Seccion 2 ----------------------- */


h2 {
    font-size: 1em;
}

.pHeaderContenair2{
    font-size: 15px; 
}

/* -------------------- main Seccion 2 ------------------------ */

#main-section2 {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80%;
    height: 100%; 
}

.fa-solid {
    font-size: 40px;
}


.pContenair2 {
    font-size: 15px;
}

.footerContenair2 {
    padding-top: 15%;
}
}