/* ------------------Seccion burger menu ---------------------
*/
#menu-burger {
    display: none;
}

#headerBurger {
    position: fixed;
    top : 0;
    left: 0;
    display: none;
 }

#headerClose {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 4;
    display: none;
}

 #headerBurger svg{
   stroke: black;
   width: 40px;
   height: 40px;
   cursor: pointer;
 }

#headerClose svg{
    stroke: black;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 4;
}

#overlayNavMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}






/* ------------------------------ Mobile --------------------------------------------- */
@media (max-width: 720px) {

    /* ------------------------ Burger Mobile ------------------------------- */
    #nav-section1 {
        display: none;
    }

    .icones {
        display: none;
    }

    #headerBurger {
        display: block; 
        position: fixed;
        top : 0;
        left: 0;
        z-index: 4;
    }

    #menu-burger {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.3s transform ease-in-out;
        z-index: 3;
    }

    #menu-burger.open { 
        transform: initial; 
    } 

    ul {
        display: flex;
        flex-direction: column;
    }

    #icones-burger {
    display: flex;
    flex-direction: column;
    }

    #headerClose {
        display: block;
        transform: translateX(300%);
    }

    #headerClose.open{
        transform: initial ;
    }

    #overlayNavMobile.open {
        display: block;
    }


    /* ------------------- Seccion fleche ancre */

    #fleche {      
    top:800px;
    right: 60px;
    }

    /* ------------------ section 1 ---------------------*/

    #contenair1 {
        padding: 0 2%; 
    }
    
    /* ----------------- header seccion 1  ----------------------- */
    
    .entete {
        width: 100%;
    }


    /* ---------------------- Article Seccion 1----------------------*/

    #main-section1 {
        padding: 0 5%;
        margin: 5% 0 0 0 ;
    }

    .titreContenair1 {
        font-size: 2em;
        text-align: start;
        width: 100%;
    }

    .pContenair1 {
        font-size: 1em;
        text-align: justify;
        width: 100%;
    }

    .formContenair1 {
        margin-bottom: 5%;
        width: 100%;
    }

    ::placeholder {   
    font-size: 15px;
    }

    input[type="email"]:focus{ 
    font-size: 10px;
    }

    .buttonContenair1 {
        width: 100px;
    }

    object {
    width: 100%;
    }

    /* ------------------ section 2 --------------------*/

#contenair2 {
    padding: 0 5%;
}

/* ------------------- header Seccion 2 ----------------------- */


h2 {
    font-size: 1em;
}

.pHeaderContenair2{
    font-size: 15px; 
}

/* -------------------- main Seccion 2 ------------------------ */

#main-section2 {
    margin-top: 15%;
}

.card {
    height: 300px; 
}

.fa-solid {
    font-size: 40px;
}


.pContenair2 {
    font-size: 15px;
}

.footerContenair2 {
    padding-top: 15%;
}

/* ------------------------Seccion 3 ---------------- */

#contenair3 {
    padding: 0 5%;
}

/* -------------------- header seccion 3 -------------------- */

.headerContenair3{
    padding-bottom: 5%;
}

.h2HeaderContenair3 {
    font-size: 1em;
}

.pHeaderContenair3{
    font-size: 15px;
}

/* -------------------- Main seccion 3 ----------------------- */

#main-section3 {
    gap: 5px;
}

.articleContenair3 {
    gap : 5px;
    margin-top: 20%;
}

.article3 {
    width: 25%;
}

.hArticleHeader3 {
    font-size: 20px; 
}

.pArticleHeader3 {
    font-size: 15px;
}

.h3Contenair3 {
    font-size: 20px;
}

.pFigcaptionContenair3 {
    font-size: 15px;
}

.iconeContenair3{
    bottom: 300px;
}

.ft {
    margin: 0;
}

.figure-section3:hover .iconeContenair3{
    bottom: 50px;  
    left: 5px;
}

/* ----------------------- Seccion 4 ------------------ */


.articleContenair4 {
    height: 100%;
}

.hContenair4 {
    font-size: 1em;
}

.pContenair4 {
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ------------------------Blog ----------------------- */
#blogContenair{
    padding: 0 5%;
}

/* ----------------------- HeaderBlog------------------- */
.headerBlog {
    padding: 20% 20% 5% 20%;
}

#h2HeaderBlog {
    font-size: 1em;
}

#pHeaderBlog {
    font-size: 15px;
}

/* ---------------------Main blog ---------------------- */

#mainBlog {
    margin-top: 20%;
}
.articleBlog{
    width: 30%;
}

.iPhotographe {
    width: 80%;
    font-size: 15px;
}

.pPhotographe {
    font-size: 15px;
}


.h3ArticleBlog {
    font-size: 20px;
}

.pArticleBlog {
    font-size: 15px; 
}


/* ------------------------------------- Seccion 5 ------------------------------ */

#contenair5{
    height: 70vh;
    padding: 0 5%;
}

#h2Contenair5 {
    width: 30%;
}

.pContenair5 {
    width: 30%;
    font-size: 15px;
}

#articleContenair5 {
    width: 30%;
    height: 20%;
}

.pArticleContenair5 {
    font-size: 15px;
}

.formContenair5 {
    width: 30%;
}

.buttonContenair5 {
    height: 30px;
    font-size: 15px;
}

.imgContenair5 {
    width: 70%;
}

/* ---------------------- PRICING ----------------------------- */

#pricing {
    padding: 0;
}

/* ---------------------Header Pricing ------------------------- */

#headerPricing {
    text-align: center;
    padding: 5% 20% 10% 20%;
}

#h2HeaderPricing {
    font-size: 1em;
}

#pHeaderPricing {
    font-size: 15px;
}

/* ------------------ main Pricing --------------------------- */

.articlePricing, .article2Pricing {
    width: 30%;
    height: 70%;
    padding-left: 5px;
    padding-right: 5px;
}

.divArticlePricing {
    height: 50px;
    width: 40px;
    font-size: 10px;
}

.h4Pricing{
    font-size: 1em;
}

.pPricing {
    font-size: 15px;
}

#iPricing {
    font-size: 10px;
}

.pArticlePricing {
    font-size: 15px;
}

.p2ArticlePricing {
    font-size: 15px;
}


.buttonArticlePricing {
    width: 80%;
    height: 30px;
    font-size: 20px;
}

/* ---------------------- Footer ------------------------ */

#divFooter {
    font-size: 15px;
}

}